.app-header
    display: flex
    align-items: flex-end
    justify-content: space-between
    height: 70px
    padding: 0 20px
    // background: $orangeGradient
    background: linear-gradient(45deg, rgba(255,165,1,1) 15%, rgba(148,96,1,1) 40%, rgba(0,0,0,0.4822303921568627) 75%)
    border-radius: 0 0 5px 5px
    &__title
        display: flex
        align-items: center
        height: 100%
        h1
            font-size: 2.3rem
            @media ( max-width: 460px )
                font-size: 1.8rem
            @media ( max-width: 380px )
                font-size: 1.5rem
    &__counter
        color: grey
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        h2
            font-size: 1.2rem
            margin: 2px 0
            @media ( max-width: 460px )
                font-size: 1rem
            @media ( max-width: 380px )
                font-size: 0.9rem