.app-header
    display: flex
    align-items: flex-end
    justify-content: space-between
    height: 70px
    padding: 0 20px
    background: linear-gradient(123deg, rgba(57,230,184,0.7035189075630253) 31%, rgba(255,255,255,0.48783263305322133) 79%);

    &__title
        display: flex
        align-items: center
        height: 100%
        h1
            font-size: 2.3rem

    &__counter
        color: grey
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        h2
            font-size: 1.2rem
            margin: 2px 0